body {
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar{
    background-color: #333;
    overflow: hidden;
}
.navbar a{
    float: left;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    text-align: center;

}
.dropdown{
    float: left;
    overflow: hidden;
        
}
.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: inherit;
    color: white;
    padding: 14px 16px;
    margin: 0;
    font-family: inherit;
    outline: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content{
    float: left;
    position: absolute;
    display:none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
    padding: 12px 16px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
    
.dropdown:hover .dropdown-content{
    display: block;
}